.banner_online {
  animation: animateFloating 3s ease-in-out infinite;
}

.pic {
  overflow: hidden;
}

.tilt_effect img {
    animation: rotating 6s ease-in-out infinite;
}


/* Keyframes Animations */
@keyframes animateFloating {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes rotating{
    0%{
        transform: rotate3d(4,30,4,-340deg);
    }
}
